*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
nav{
  height: 100px;
  /* background-color: red; */
  padding: 10px;
 
}
ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: -22px;
}
li{
    list-style: none;
    font-size: 25px;
    transition: all ease-in;
    transition-property: transform;
}
li:hover{
    transform: translateY(-5px);
    /* border-radius: 3px solid yellow; */
}
 a{
    text-decoration: none;
    color: white;
    transition-property: transform;
    transition-duration: 2s;
    transition-timing-function: all ease-in;
    transition-delay: 2s;
    margin-top: 22px;
    color: black;
   
}
a:hover{
    border-radius: 50%;
    background-color: green;
    margin-top: -12px;
}
.right{
    float: right;
    margin-top: -47px;
}
button{
padding: 10px 5px;
border: 2px solid black;
font-size: 20px;
border-radius: 10%;
color: black;
border: 2px solid black;
position: relative;
overflow: hidden;
z-index: 1;
}
button::after{
    content: ' ';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #7BCEFF;
    transition: left 0.3s ease;
    z-index: -1;
}
button:hover::after{
    left: 0;
}
.logo{
    /* background-color: red; */
    margin-top: 15px;
}
.hero{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
  
}
.hero-left{
    /* background-color: red; */
    padding: 10px;
    text-align: center;
}
.hero-left h1{
    font-size: 70px;
    
}
.hero-left p{
    font-size: 20px;
    word-spacing: 10px;
    line-height: 1.3;
}
.hero-left .btn{
    padding: 15px 15px;
    margin-top: 30px;
    float: left;
    border-radius: 10%;
    cursor: pointer;
    border: 2px solid black;
    /* background-color: #11ABFF; */
    color: black;
    text-align: center;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.btn::after{
    content: ' ';
    position: absolute;
    top: 0;
    left:-100%;
    width: 100%;
    height: 100%;
    background-color: #11ABFF;
    transition: left 0.3s ease;
    z-index: -1;
}
/* .btn span {
    position: relative;
    z-index: 1;
} */

/* hover animation */
.btn:hover::after {
    left: 0;
}


.hero-right img{
    width: 400px;
    height: 400px;
}


